<launch>
    <!-- Launch node instance 1 -->
    <group ns="node_left_left">
        <param name="filepath" value="/mnt/e/devel/local/ws_hrecog/src/recorded_data/train"/>
        <param name="filename" value="/ll_lh_stop.avi"/>
        <param name="save_multi_stream_in_sequence" value='true'/>
        <param name="topicname_image" value="/hololens/LEFT_LEFT/image/raw"/>
        <param name="fps" value='20'/>
        <param name="topicname_empty" value="/hololens/LEFT_LEFT/stop"/>
        <node name="save_raw_image_stream" pkg="image_writer" type="save_raw_image_stream" output="screen"/>
    </group>

    <!-- Launch node instance 2 -->
    <group ns="node_left_front">
        <param name="filepath" value="/mnt/e/devel/local/ws_hrecog/src/recorded_data/train"/>
        <param name="filename" value="/lf_lh_stop.avi"/>
        <param name="save_multi_stream_in_sequence" value='true'/>
        <param name="topicname_image" value="/hololens/LEFT_FRONT/image/raw"/>
        <param name="fps" value='20'/>
        <param name="topicname_empty" value="/hololens/LEFT_FRONT/stop"/>
        <node name="save_raw_image_stream" pkg="image_writer" type="save_raw_image_stream" output="screen"/>
    </group>

    <!-- Launch node instance 2 -->
    <group ns="node_right_front">
        <param name="filepath" value="/mnt/e/devel/local/ws_hrecog/src/recorded_data/train"/>
        <param name="filename" value="/rf_lh_stop.avi"/>
        <param name="save_multi_stream_in_sequence" value='true'/>
        <param name="topicname_image" value="/hololens/RIGHT_FRONT/image/raw"/>
        <param name="fps" value='20'/>
        <param name="topicname_empty" value="/hololens/RIGHT_FRONT/stop"/>
        <node name="save_raw_image_stream" pkg="image_writer" type="save_raw_image_stream" output="screen"/>
    </group>

    <!-- Launch node instance 2 -->
    <group ns="node_right_right">
        <param name="filepath" value="/mnt/e/devel/local/ws_hrecog/src/recorded_data/train"/>
        <param name="filename" value="/rr_lh_stop.avi"/>
        <param name="save_multi_stream_in_sequence" value='true'/>
        <param name="topicname_image" value="/hololens/RIGHT_RIGHT/image/raw"/>
        <param name="fps" value='20'/>
        <param name="topicname_empty" value="/hololens/RIGHT_RIGHT/stop"/>
        <node name="save_raw_image_stream" pkg="image_writer" type="save_raw_image_stream" output="screen"/>
    </group>

</launch>